In [1]:
import os
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
DATA_FILE = './case_study_files/IMB 737 Sericulture  DATA.xlsx'
sheet_names = {0: 'Hypotheis Test Data', 1:'Regression Data' }
import math
import statistics

### Q1

In [2]:
df_hypothesis_test = pd.read_excel(DATA_FILE, sheet_name=sheet_names[0])
df_hypothesis_test

,person_id,income_per_acre,gender,female,training_on_sericulture,crop_insured,chawki_bivol,chawki_combo_other,district,loan_repaid,affected_by_pest
0,5,35937.50000,Female,1,0,0,1,0,Bellary,1,1
1,8,61264.82213,Male,0,1,1,1,0,Bellary,1,0
2,10,25000.00000,Female,1,1,0,1,0,Bellary,1,0
3,18,31111.11111,Male,0,1,0,0,1,Bellary,1,1
4,19,20161.29032,Male,0,1,0,1,0,Bellary,1,0
...,...,...,...,...,...,...,...,...,...,...,...
1213,4191,90909.09091,Male,0,0,0,0,1,Chikballapur,1,1
1214,4193,76923.07692,Male,0,0,0,0,1,Chikballapur,1,1
1215,4194,125000.00000,Male,0,0,0,0,1,Chikballapur,1,1
1216,4196,91666.66667,Female,1,0,0,0,1,Chikballapur,1,1
1217,4197,83333.33333,Male,0,0,0,0,1,Chikballapur,1,1

In [97]:
x_bar = df_hypothesis_test.income_per_acre.mean()
mu = 35000
sigma = 40000
n = df_hypothesis_test.income_per_acre.count()
z_statistics = (x_bar - mu)/(sigma/math.sqrt(n))

In [98]:
### significanc value = 0.05
### confidence = (1- alpha) = 0.95
critical_value =  statistics.NormalDist().inv_cdf(0.95)
critical_value

1.6448536269514715

In [99]:
z_statistics <  critical_value  # condition to retain null hypothesis

True

### Q2

In [100]:
mu2 = 36000
x_bar = df_hypothesis_test.income_per_acre.mean()
n = df_hypothesis_test.income_per_acre.count()
sigma = 40000
z_statistics2 = (x_bar - mu2)/(sigma/math.sqrt(n))
z_statistics2

0.6467748869658674

In [101]:
critical_value = statistics.NormalDist().inv_cdf(0.025)
critical_value

-1.9599639845400538

### Upper limit

In [102]:
mu + z_statistics * ( 40000 / math.sqrt(n))

36741.29231178194

In [88]:
(36741.29231178194 - 36000 )/ ( 40000 / math.sqrt(n))

0.6467748869658674

In [95]:
beta = statistics.NormalDist().cdf(0.6467748869658674)
beta

0.7411111760838357

In [96]:
power_of_test = 1  - beta
power_of_test

0.2588888239161643

In [103]:
z_statistics

1.519271305296625

### Q3

In [3]:
df_hypothesis_test = pd.read_excel(DATA_FILE, sheet_name=sheet_names[0])
df_hypothesis_test

,person_id,income_per_acre,gender,female,training_on_sericulture,crop_insured,chawki_bivol,chawki_combo_other,district,loan_repaid,affected_by_pest
0,5,35937.50000,Female,1,0,0,1,0,Bellary,1,1
1,8,61264.82213,Male,0,1,1,1,0,Bellary,1,0
2,10,25000.00000,Female,1,1,0,1,0,Bellary,1,0
3,18,31111.11111,Male,0,1,0,0,1,Bellary,1,1
4,19,20161.29032,Male,0,1,0,1,0,Bellary,1,0
...,...,...,...,...,...,...,...,...,...,...,...
1213,4191,90909.09091,Male,0,0,0,0,1,Chikballapur,1,1
1214,4193,76923.07692,Male,0,0,0,0,1,Chikballapur,1,1
1215,4194,125000.00000,Male,0,0,0,0,1,Chikballapur,1,1
1216,4196,91666.66667,Female,1,0,0,0,1,Chikballapur,1,1
1217,4197,83333.33333,Male,0,0,0,0,1,Chikballapur,1,1

In [21]:
s = df_hypothesis_test.income_per_acre.std()
n = df_hypothesis_test.income_per_acre.count()
x_bar = df_hypothesis_test.income_per_acre.mean()
mu = 35000

t = (x_bar - mu)/(s/ math.sqrt(n))
t

1.4758861486893562

##### Inverse of t statistic

In [32]:
scipystat.t.ppf(0.95, df=n-1)

1.646106656353215

## Q4

In [48]:
from statistics import NormalDist
n = df_hypothesis_test.gender.count()
p_hat = df_hypothesis_test[df_hypothesis_test.gender == 'Female']['gender'].count()/ n
p = 0.15
p_hat

0.09523809523809523

In [46]:
z_stat = (p_hat  - p)/math.sqrt(((p_hat * (1-p_hat))/n))
z_stat

-6.510730010003325

#### Inverse

In [53]:
critical_val = NormalDist().inv_cdf(0.05)
critical_val

-1.6448536269514726

In [54]:
z_stat < critical_val

True

## Q5

In [68]:
n1 = df_hypothesis_test[df_hypothesis_test.training_on_sericulture == 0 ]['training_on_sericulture'].count()
n2 = df_hypothesis_test[df_hypothesis_test.training_on_sericulture == 1 ]['training_on_sericulture'].count()
mu1 = df_hypothesis_test[df_hypothesis_test.training_on_sericulture == 0 ]['income_per_acre'].mean()
mu2 = df_hypothesis_test[df_hypothesis_test.training_on_sericulture == 1 ]['income_per_acre'].mean()
display(n1)
display(n2)
display(mu1)
display(mu2)

sample1 =  df_hypothesis_test[df_hypothesis_test.training_on_sericulture == 0 ]['income_per_acre']
sample2 =  df_hypothesis_test[df_hypothesis_test.training_on_sericulture == 1 ]['income_per_acre']

849

369

40084.15415223522

29049.992304885367

In [64]:
s1 =  df_hypothesis_test[df_hypothesis_test.training_on_sericulture == 0 ]['income_per_acre'].std()
s2 =  df_hypothesis_test[df_hypothesis_test.training_on_sericulture == 1 ]['income_per_acre'].std()
Sp2 = ((n1 - 1)* (s1) ** 2 + (n2 - 1) * (s2) ** 2)/(n1 + n2  -1)
display(s1)
display(s2)
display(Sp2)

42456.43301375929

36988.7315378972

1669717736.3792605

#### Using scipy formula

In [69]:
import scipy.stats as stats
t_stat, p_val = stats.ttest_ind(sample1, sample2, equal_var=False)

#### Using formula in the book

In [73]:
su = math.sqrt(s1 ** 2/n1 + s2 ** 2/ n2)
t_val = (mu1 - mu2) /su
t_val

4.569525905038689

#### Calculate degree of freedom

In [77]:
df = int(su ** 4/( (s1 ** 2/n1) ** 2/ n1 -1 + (s2 ** 2/n2) ** 2/n2 -1))
df

798

#### T inverse using scipy formula

In [78]:
t.ppf(0.05, df = df)

-1.646765344238518

nan