In [18]:
import os
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
DATA_FILE = './case_study_files/IMB 737 Sericulture  DATA.xlsx'
sheet_names = {0: 'Hypotheis Test Data', 1:'Regression Data' }
import math
import statistics

### Q1

In [49]:
df_hypothesis_test = pd.read_excel(DATA_FILE, sheet_name=sheet_names[0])
df_hypothesis_test

,person_id,income_per_acre,gender,female,training_on_sericulture,crop_insured,chawki_bivol,chawki_combo_other,district,loan_repaid,affected_by_pest
0,5,35937.50000,Female,1,0,0,1,0,Bellary,1,1
1,8,61264.82213,Male,0,1,1,1,0,Bellary,1,0
2,10,25000.00000,Female,1,1,0,1,0,Bellary,1,0
3,18,31111.11111,Male,0,1,0,0,1,Bellary,1,1
4,19,20161.29032,Male,0,1,0,1,0,Bellary,1,0
...,...,...,...,...,...,...,...,...,...,...,...
1213,4191,90909.09091,Male,0,0,0,0,1,Chikballapur,1,1
1214,4193,76923.07692,Male,0,0,0,0,1,Chikballapur,1,1
1215,4194,125000.00000,Male,0,0,0,0,1,Chikballapur,1,1
1216,4196,91666.66667,Female,1,0,0,0,1,Chikballapur,1,1
1217,4197,83333.33333,Male,0,0,0,0,1,Chikballapur,1,1

In [97]:
x_bar = df_hypothesis_test.income_per_acre.mean()
mu = 35000
sigma = 40000
n = df_hypothesis_test.income_per_acre.count()
z_statistics = (x_bar - mu)/(sigma/math.sqrt(n))

In [98]:
### significanc value = 0.05
### confidence = (1- alpha) = 0.95
critical_value =  statistics.NormalDist().inv_cdf(0.95)
critical_value

1.6448536269514715

In [99]:
z_statistics <  critical_value  # condition to retain null hypothesis

True

### Q2

In [100]:
mu2 = 36000
x_bar = df_hypothesis_test.income_per_acre.mean()
n = df_hypothesis_test.income_per_acre.count()
sigma = 40000
z_statistics2 = (x_bar - mu2)/(sigma/math.sqrt(n))
z_statistics2

0.6467748869658674

In [101]:
critical_value = statistics.NormalDist().inv_cdf(0.025)
critical_value

-1.9599639845400538

### Upper limit

In [102]:
mu + z_statistics * ( 40000 / math.sqrt(n))

36741.29231178194

In [88]:
(36741.29231178194 - 36000 )/ ( 40000 / math.sqrt(n))

0.6467748869658674

In [95]:
beta = statistics.NormalDist().cdf(0.6467748869658674)
beta

0.7411111760838357

In [96]:
power_of_test = 1  - beta
power_of_test

0.2588888239161643

In [103]:
z_statistics

1.519271305296625